ul { /* styling for the navigation bar*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: gray;
    position: fixed;
    top: 5px;
    left: 5px;
    overflow: auto;
}

li a { /* styling for the navigation bar*/
    text-align: center;
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

li { /* styling for the border of each item in the navigation bar*/
    border: 1px solid black;
}

li a:hover { /* makes the color change when hovering over navigation bar item*/
    background-color: white;
    color: black;
}

body { /* for every text in the body */
    font-family: arial;
    background-color: lightblue;
    text-align: center;
}

h1 { /* for the first header which is my name*/
    color: black;
    text-align: center;
    font-size: 55px;
}

h2, h3 { /* for each other header such as the work experience and education header */
    font-family: arial;
    text-align: center;
    font-size: 40px;
}

/*p { 
    text-align: center;
    font-family: arial;
    font-size: 20px;
}*/

table, th, td { /*styling for the tables that hold the images and text*/
    width: 30%;
    border: 1px solid black;
    padding: 5px;
    background-color: darkgrey;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}


th, td { /*styling for boxes within the table*/
    background-color: white;
    padding: 10px;
}


